body{
    background-color: rgb(163, 207, 235);
}
.title{
    text-align: center;
}

.form {
    padding: 2% 20%;
    margin: 1% 5%;
    background-color:white;
   

}
form div{
    display:flex; 
    justify-content:space-between;
    align-content:center;
  
}